body { 
	background-color: #F0F8FF; 
	margin: 020px;
}
.heading, .adress { 
	text-align: center
	}

.adress {
	font-size: 20px;
}

.heading { 
	font-size: 47px;
}

.size {
	font-size : 25px;

 } 

.para { 
	margin-left: 40px;

}

.bold { 
	font-weight: bold;
}

